html, body {
    height: 100%;
}

.jumbotron {
  background: #EBEBE4 url(/images/ruby.png) 50% 50% !important;
  border-bottom:  1px solid #ccc;
  border-top:  1px solid #ccc;
  text-align: center;
  margin-bottom: 0 !important;
}

.well {
  border-radius: 0 !important;
  background-color: #fbfbfb !important;
}

.jumbotron a {
  color: #CC342D !important;
}

.jumbotron h1 {
  color: #CC342D !important;
}

.posts .post-thumbnail {
  padding-right: 0;
}

.posts .post-thumbnail img {
  border: 1px solid #ccc;
  width: 100%;
}

.posts .post {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.posts .fb-like {
  margin: 5px 0 0;
}

.fb-comments,
.fb-comments iframe[style],
.fb-like,
.fb-like iframe[style] {
  width: 100% !important;
}

.fb-comments span,
.fb-comments iframe span[style],
.fb-like span,
.fb-like iframe span[style] {
  width: 100% !important;
}

.site {
  background-color: #fff;
  box-shadow: 0px 4px 15px #181818;
  height: auto;
  min-height: 100%;
  position: relative;
}

.main-container {
  padding-top: 51px;
  padding-bottom: 80px;
}

.pages-container {
  padding-top: 20px;
}

.container .main a {
  color: #CC342D;
}

.container .main .title h1 {
  margin: 0;
  line-height: 20px;
  color: #CC342D;
  font-size: 20px;
  font-weight: bold;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
  background-color: #CC342D !important;
  border-color: #CC342D !important;
}

.paginator {
  text-align: center;
}

.pagination {
  margin: 0 auto !important;
}

.footer {
  height: 80px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #EBEBE4 url(/images/ruby.png) 50% 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer {
  height: 150px;
  color: #222;
  text-shadow: 0px 1px 1px #555;
  font-weight: bold;
  clear: both;
  z-index: -20;
  text-align: center;
}

footer .footer-inner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 130px;
  z-index: -15;
  margin: 0 auto;
}

body {
  background-color: #333 !important;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin-bottom: 15px;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sidebar > div {
  margin: 0 auto 20px !important;
  width: 300px;
}