html, body {
    height: 100%;
}

.jumbotron {
  background: #EBEBE4 url(/images/ruby.png) 50% 50%;
  border-bottom:  1px solid #ccc;
  border-top:  1px solid #ccc;
  text-align: center;
  margin-bottom: 0;
}

.well {
  border-radius: 0;
  background-color: #fbfbfb;
}

.jumbotron a {
  color: #CC342D;
}

.jumbotron h1 {
  color: #CC342D;
}

.page .post-thumbnail {
  padding-right: 0;
  width: 150px;
}

.page .post-thumbnail img {
  width: 100%;
}

.page .post {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.page .date a {
  color: #999 !important;
}

.page .post-content img {
  max-width: 100%;
  max-height: 400px;
  position: relative;
  margin: 25px auto 30px;
  display: block;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f4f4f4;
}

.page .fb-like {
  margin: 5px 0 5px;
}

.site {
  background-color: #fff;
  box-shadow: 0px 4px 15px #181818;
  height: auto;
  min-height: 100%;
  position: relative;
}

.main-container {
  padding-top: 51px;
  padding-bottom: 80px;
}

.pages-container {
  padding-top: 20px;
}

@media (min-width: 1200px) {
  .container .main {
    width: 72%;
  }
}

.container .main a {
  color: #CC342D;
}

.container .main .title h1 {
  margin: 0;
  line-height: 26px;
  color: #CC342D;
  font-size: 24px;
  font-weight: bold;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
  background-color: #CC342D;
  border-color: #CC342D;
}

.paginator {
  text-align: center;
}

.pagination {
  margin: 0 auto;
}

.footer {
  height: 80px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #EBEBE4 url(/images/ruby.png) 50% 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer {
  height: 150px;
  color: #222;
  text-shadow: 0px 1px 1px #555;
  font-weight: bold;
  clear: both;
  z-index: -20;
  text-align: center;
}

footer .footer-inner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 130px;
  z-index: -15;
  margin: 0 auto;
}

body {
  background-color: #333;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin-bottom: 15px;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sidebar {
  width: 315px;
  float: right;
  padding-left: 0;
}

.sidebar > div {
  margin-bottom: 20px;
  float: right;
  width: 300px;
}

.sidebar .feed {
  border: 1px solid #ccc;
}

.sidebar .feed h3 {
  margin-top: 0;
  padding: 5px;
  font-size: 11px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  background-color: #fbfbfb;
}

.sidebar .feed form {
  padding: 0 10px 10px 10px;
  text-align: center;
}

pre {
  padding: 0;
  border: none;
  border-radius: 0;
  overflow: auto;
  word-break: keep-all;
}

pre code {
  min-width: 700px;
}