---
layout: default
title: Moroccan Rubyist
---

{% assign postsCount = site.posts | size %}
{% if postsCount == 0 %}
  <div class="alert alert-info">
    <strong>No tutorials available yet!</strong> Come back soon...
  </div>
{% else %}
  <div class="page well">
    {% for post in paginator.posts %}
      <div class="post row">
        <div class="post-thumbnail hidden-xs col-md-3 col-sm-3">
          <a href="{{ post.url }}"><img src="/images/thumbnails/{{ post.thumbnail }}"></a>
        </div>
        <div class="post-infos col-md-9 col-sm-9 col-xs-12">
          <div class="date">
            <small class="text-muted">
              {{ post.date | date_to_string }} - 
              <strong><a target="_blank" href="http://github.com/{{ post.github }}">{{ post.author }}</a></strong>
            </small>
          </div>
          <div class="title"><h1><a href="{{ post.url }}">{{ post.title }}</a></h1></div>
          <div class="description">{{ post.description }}</div>
        </div>
      </div>
    {% endfor %}
    {% include paginator.html %}
  </div>
{% endif %}