---
layout: default
title: Moroccan Rubyist
---

{% assign postsCount = site.posts | size %}
{% if postsCount == 0 %}
  <div class="alert alert-info">
    <strong>No tutorials available yet!</strong> Come back soon...
  </div>
{% else %}
  <div class="posts well">
    {% for post in paginator.posts %}
      <div class="post row">
        <div class="post-thumbnail hidden-xs col-md-3 col-sm-3">
          <a href="{{ post.url }}"><img src="/images/thumbnails/{{ post.thumbnail }}"></a>
        </div>
        <div class="post-infos col-md-9 col-sm-9 col-xs-12">
          <div class="date"><small class="text-muted">{{ post.date | date_to_string }} - <strong>{{ post.author }}</strong></small></div>
          <div class="title"><h1><a href="{{ post.url }}">{{ post.title }}</a></h1></div>
          <div class="description">{{ post.description }}</div>
        </div>
      </div>
    {% endfor %}
    {% if paginator.total_pages > 1 %}
      <div class="paginator">
        <ul class="pagination">
          {% if paginator.page > 4 and paginator.total_pages > 5 %}
            <li><a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">First</a></li>
          {% else %}
            <li class="disabled"><a href="#">First</a></li>
          {% endif %}

          {% if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><a href="#">&laquo;</a></li>
          {% endif %}
          
          {% if paginator.total_pages > 5 %}
            {% if paginator.page > 4 and paginator.page != paginator.total_pages %}
              {% assign start = paginator.page | minus: 3 %}
              {% assign finish = paginator.page | plus: 1 %}
              {% assign etc_last = paginator.total_pages | minus: 2 %}
              <li class="disabled"><a href="#">...</a></li>
            {% elsif paginator.page > 4 and paginator.page == paginator.total_pages %}
              {% assign start = paginator.page | minus: 4 %}
              {% assign finish = paginator.page %}
              <li class="disabled"><a href="#">...</a></li>
            {% else %}
              {% assign start = 1 %}
              {% assign finish = 5 %}
              {% assign etc_last = paginator.total_pages | minus: 2 %}
            {% endif %}
          {% else %}
            {% assign start = 1 %}
            {% assign finish = paginator.total_pages %}
          {% endif %}
          
          {% for page in (start..finish) %}
            {% if page == paginator.page %}
              <li class="active"><a href="#">{{ page }}</a></li>
            {% elsif page == 1 %}
              <li><a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
            {% else %}
              <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}

          {% if paginator.page <= etc_last %}
            <li class="disabled"><a href="#">...</a></li>
          {% endif %}

          {% if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><a href="#">&raquo;</a></li>
          {% endif %}

          {% if paginator+page <= etc_last %}
            <li><a href="{{ site.baseurl }}page{{ paginator.total_pages }}">Last</a></li>
          {% else %}
            <li class="disabled"><a href="#">Last</a></li>
          {% endif %}
        </ul>
      </div>
    {% endif %}
  </div>
{% endif %}