<div class="jumbotron">
  <a href="https://github.com/MoroccanRubyist/moroccanrubyist.github.io" target="_blank"><img class="hidden-xs" style="position: absolute; top: 50px; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
  <div class="container">
    <h1>Who's behind this Website?</h1>
    <p class="lead">Hi, we're a bunch of Moroccan <a target="_blank" href="http://ruby-lang.org">Ruby</a> developers. We want to help build a better Moroccan Rubyists community.</p>
  </div>
</div>
