<div class="sidebar col-md-4 hidden-sm hidden-xs">
  <div class="casablancarb">
    <a target="_blank" href="http://www.meetup.com/Casablanca-rb/"><img src="/images/casablancarb.png" alt="Meet the first Ruby group in Morocco"></a>
  </div>
  <div class="feed">
    <h3>Get Email Updates</h3>
    <form class="form-horizontal" role="form" action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=MoroccanRubyist', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
      <p>Receive email notifications whenever new tutorials are published!</p>
      <div class="form-group">
        <label class="sr-only" for="email">Email address</label>
        <div class="col-md-12">
          <input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
        </div>
      </div>
      <input type="hidden" value="MoroccanRubyist" name="uri"/>
      <input type="hidden" name="loc" value="en_US"/>
      <button type="submit" class="btn btn-default">Subscribe</button>
    </form>
  </div>
  <div class="facebook-box">
    <div class="fb-like-box" data-href="https://www.facebook.com/MoroccanRubyist" data-width="300" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
  </div>
  <div class="adsense">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Moroccan Rubyist -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:250px"
         data-ad-client="ca-pub-6146154997304787"
         data-ad-slot="1964897157"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>