<div class="sidebar col-md-4 hidden-sm hidden-xs">
  <div class="casablancarb">
    <a target="_blank" href="http://www.meetup.com/Casablanca-rb/"><img src="/images/casablancarb.png" alt="Meet the first Ruby group in Morocco"></a>
  </div>
  <div class="feed">
    <h3>Get Email Updates</h3>
    <form class="form-horizontal" role="form" action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=MoroccanRubyist', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
      <p>Receive email notifications whenever new tutorials are published!</p>
      <div class="form-group">
        <label class="sr-only" for="email">Email address</label>
        <div class="col-md-12">
          <input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
        </div>
      </div>
      <input type="hidden" value="MoroccanRubyist" name="uri"/>
      <input type="hidden" name="loc" value="en_US"/>
      <button type="submit" class="btn btn-default">Subscribe</button>
    </form>
  </div>
  <div class="facebook-box">
    <div class="fb-like-box" data-href="https://www.facebook.com/MoroccanRubyist" data-width="300" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>

      <div class="twitter_timeline" style="margin-top:10px;">
         <a height="269px" width="300px" class="twitter-timeline"  href="https://twitter.com/MoroccanRubyist"  data-widget-id="425892980755410944">Tweets by @MoroccanRubyist</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>