<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <meta name="description" content="{{ site.description }}">
        <meta content="{{ site.name }}" property="og:site_name">
        {% if page.title %}
          <meta content="{{ page.title }}" property="og:title">
        {% else %}
          <meta content="{{ site.name }}" property="og:title">
        {% endif %}
        {% if page.title %}
          <meta content="article" property="og:type">
        {% else %}
          <meta content="website" property="og:type">
        {% endif %}
        {% if page.description %}
          <meta content="{{ page.description }}" property="og:description">
        {% else %}
          <meta content="{{ site.description }}" property="og:description">
        {% endif %}
        {% if page.url %}
          <meta content="{{ site.url }}{{ page.url }}" property="og:url">
        {% endif %}
        {% if page.date %}
          <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
          <meta content="{{ site.url }}/about" property="article:author">
        {% endif %}
        {% if page.thumbnail %}
          <meta content="{{ site.url }}/images/thumbnails/{{ page.thumbnail }}" property="og:image">
        {% else %}
          <meta content="{{ site.url }}/images/mr-logo.png" property="og:image">
        {% endif %}
        {% if page.categories %}
          {% for category in page.categories limit:1 %}
          <meta content="{{ category }}" property="article:section">
          {% endfor %}
        {% endif %}
        <meta property="fb:admins" content="1390697976"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    </head>
    <body>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <div class="site">
        <header>
          <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Moroccan Rubyist</a>
              </div>

              <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                  <li class="{% if page.url == '/index.html' %}active{% endif %}"><a href="/">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li class="{% if page.url == '/contribute/index.html' %}active{% endif %}"><a href="/contribute">Contribute</a></li>
                  <li class="{% if page.url == '/about/index.html' %}active{% endif %}"><a href="/about">About</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </header>

        <div class="main-container">
          {% if page.url == "/index.html" %}
            {% include welcome.html %}
          {% elsif page.url == "/contribute/index.html" %}
            {% include contribute.html %}
          {% elsif page.url == "/about/index.html" %}
            {% include about.html %}
          {% endif %}
          <div class="container pages-container">
            <div class="row">
              <div class="main col-md-8 col-sm-12 col-xs-12">
                {{ content }}
              </div>
              <div class="sidebar col-md-4 hidden-sm hidden-xs">
                <div class="casablancarb">
                  <a target="_blank" href="http://www.meetup.com/Casablanca-rb/"><img src="/images/casablancarb.png" alt="Meet the first Ruby group in Morocco"></a>
                </div>
                <div class="feed">
                  <h3>Get Email Updates</h3>
                  <form class="form-horizontal" role="form" action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=MoroccanRubyist', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
                    <p>Receive an email notification whenever a new tutorial is published!</p>
                    <div class="form-group">
                      <label class="sr-only" for="email">Email address</label>
                      <div class="col-md-12">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
                      </div>
                    </div>
                    <input type="hidden" value="MoroccanRubyist" name="uri"/>
                    <input type="hidden" name="loc" value="en_US"/>
                    <button type="submit" class="btn btn-default">Subscribe</button>
                  </form>
                </div>
                <div class="facebook-box">
                  <div class="fb-like-box" data-href="https://www.facebook.com/MoroccanRubyist" data-width="300" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
                </div>
                <div class="adsense">
                  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                  <!-- Moroccan Rubyist -->
                  <ins class="adsbygoogle"
                       style="display:inline-block;width:300px;height:250px"
                       data-ad-client="ca-pub-6146154997304787"
                       data-ad-slot="1964897157"></ins>
                  <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="footer"></div>
        </div>
        <footer>
          <div class="footer-inner">
            <h2>Moroccan Rubyist</h2>
            <p><small>Proudly hosted by GitHub</small></p>
          </div>
        </footer>
        <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-46963590-1', 'moroccanrubyist.com');
            ga('send', 'pageview');

        </script>
    </body>
</html>
