---
layout: default
---

<div class="page well">
  <div class="post row">
    <div class="post-thumbnail hidden-xs col-md-3 col-sm-3">
      <img src="/images/thumbnails/{{ page.thumbnail }}">
    </div>
    <div class="post-infos col-md-9 col-sm-9 col-xs-12">
      <div class="date">
        <small class="text-muted">
          {{ page.date | date_to_string }} -
          <strong><a target="_blank" href="http://github.com/{{ page.github }}">{{ page.author }}</a></strong>
        </small>
      </div>
      <div class="title"><h1>{{ page.title }}</h1></div>
      <div class="description">{{ page.description }}</div>
      <div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
  </div>
  <div class="post-content">
    {% if page.youtube %}
      <h3>Video tutorial</h3>
      <div class="video-container">
        <iframe src="//www.youtube.com/embed/{{page.youtube}}" frameborder="0" allowfullscreen></iframe>
      </div>
    {% endif %}
    {{content}}
  </div>
  <div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

  <div id="disqus_thread"></div>
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'moroccanrubyist'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
